* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
.container {
  max-width: 1140px;
  padding: 15px;
  margin: 0 auto;
}
.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.half-width {
  width: 50%;
}
/* Banner section styles here */
.banner {
  background-color: #2d25a0;
  padding: 80px 0;
}
.top-heading {
  color: #fff;
  font-size: 64px;
  line-height: 80px;
}
.main-btn {
  background-color: #e02c6d;
  color: #fff;
  text-decoration: none;
  padding: 12px 30px;
  margin-top: 20px;
  display: inline-block;
}
.main-btn:hover i {
  padding-left: 30px;
  transition-property: padding;
  transition-duration: 1s;
}
.banner-img,
.highlight-img {
  width: 100%;
}
.banner-img:hover {
  transform: rotate(50deg);
  transition-duration: 1s;
}

/* Player section styles here */
.all-player {
  margin: 70px 0;
}
.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
  justify-content: center;
}
.player {
  padding: 15px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
}
.player-img {
  width: 100%;
}
.player-name {
  font-size: 25px;
  margin: 5px 0;
  color: #18191f;
  font-weight: 700;
  cursor: pointer;
}
.player-details,
.highlight-text {
  color: #6c6c6c;
  font-size: 16px;
}

/* Highlight Styles start from here */
.highlight-content {
  margin-right: 70px;
}
.highlight-heading {
  color: #0a0826;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 15px;
}

/* Scores section styles here */
.scores {
  margin: 70px 0;
}
.score {
  padding: 25px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.25);
  margin: 0 15px;
  border-radius: 15px;
}
.day-date,
.team-name {
  color: #181818;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.5px;
}
.score-div {
  margin: 0 20px;
}
.team-logo {
  width: 100px;
  height: auto;
  margin: 0 15px;
}
.goals {
  color: #181818;
  font-size: 65px;
  margin: 0 15px;
  text-align: center;
}

/* upcoming match styles here */
.additional-heading {
  font-size: 40px;
  text-align: center;
  color: #181818;
  margin-bottom: 20px;
}
.match-1 {
  background-image: url(images/match-1.png);
}
.match-2 {
  background-image: url(images/match-2.png);
}
.match-3 {
  background-image: url(images/match-3.png);
}
.matches {
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.matches::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 1;
}
.match-details {
  position: relative;
  top: 270px;
  z-index: 2;
}
.match-name {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 2px;
  text-align: center;
}
.date {
  color: #fff;
  text-align: center;
}

/* footer styles start from here */
footer {
  margin: 80px 0 40px;
}
.logo {
  width: 450px;
  margin: 0 auto;
  display: block;
}
.social-icons {
  text-align: center;
}
.social-icons i {
  color: #969bab;
  font-size: 25px;
  letter-spacing: 10px;
  cursor: pointer;
}
.copyright {
  text-align: center;
  padding: 10px;
}

/* Media queries start from here */

/* mobile version */
@media screen and (max-width: 688px) {
  .half-width {
    width: 100%;
  }
  .flex-container {
    flex-direction: column;
  }
  .top-heading {
    font-size: 36px;
    line-height: 1.3em;
  }
  .main-btn {
    margin-bottom: 30px;
  }
  .grid-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .highlight-content {
    margin: 0;
  }
  .highlight-heading {
    font-size: 30px;
    line-height: 1.3em;
  }
  .additional-heading {
    font-size: 30px;
    padding: 0 15px;
    line-height: 1.3em;
  }
  .score {
    margin: 20px 15px;
  }
  .logo {
    width: 80%;
  }
}

/* tablet version */
@media screen and (min-width: 688px) and (max-width: 992px) {
  .top-heading {
    font-size: 40px;
    line-height: 1.3em;
  }
  .grid-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .highlight-content {
    margin-right: 20px;
  }
  .highlight-heading {
    font-size: 34px;
    line-height: 1.3em;
  }
  .scores > .flex-container {
    flex-direction: column;
  }
  .score {
    margin: 20px 0;
  }
}
