* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
.container {
  max-width: 1140px;
  padding: 15px;
  margin: 0 auto;
}
.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.half-width {
  width: 50%;
}
/* Banner section styles here */
.banner {
  background-color: #2d25a0;
  padding: 80px 0;
}
.top-heading {
  color: #fff;
  font-size: 64px;
  line-height: 80px;
}
.main-btn {
  background-color: #e02c6d;
  color: #fff;
  text-decoration: none;
  padding: 12px 30px;
  margin-top: 20px;
  display: inline-block;
}
.banner-img,
.highlight-img {
  width: 100%;
}

/* Player section styles here */
.all-player {
  margin: 70px 0;
}
.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
  justify-content: center;
}
.player {
  padding: 15px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
}
.player-img {
  width: 100%;
}
.player-name {
  font-size: 25px;
  margin: 5px 0;
  color: #18191f;
  font-weight: 700;
  cursor: pointer;
}
.player-details,
.highlight-text {
  color: #6c6c6c;
  font-size: 16px;
}

/* Highlight Styles start from here */
.highlight-content {
  margin-right: 70px;
}
.highlight-heading {
  color: #0a0826;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 15px;
}
