* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
.container {
  width: 1140px;
  padding: 15px;
  margin: 0 auto;
}
.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.half-width {
  width: 50%;
}
/* Banner section styles here */
.banner {
  background-color: #2d25a0;
  padding: 80px 0;
}
.top-heading {
    color: #fff;
    font-size: 64px;
    line-height: 80px;
}
.main-btn {
    background-color: #E02C6D;
    color: #fff;
    text-decoration: none;
    padding: 12px 30px;
    margin-top: 20px;
    display: inline-block;
}
.banner-img {
  width: 100%;
}
